{% include 'base.html' %}
{% block content %}

<header class="main text-left">
    <div class="container">
        <h1 class="display-4 text-center py-4">About</h1>
        <p>Welcome to our café viewer! We're passionate about helping coffee lovers find their perfect spot to relax,
            work, or socialize while enjoying a great cup of quality coffee.Our mission is to provide a comprehensive resource for café enthusiasts, whether you're a digital nomad searching for the best Wi-Fi spots, a student seeking a quiet study corner, or simply someone who appreciates a cosy atmosphere and delicious coffee.</p>
        <p>You can browse through a curated selection of cafés, each with detailed information about their location,
            pricing, and amenities. Whether you're exploring a new city or looking for your new favorite local spot.
            You can also search cities for recommended cafes, we believe that coffee is more than just a drink it's the quality of life!</p>
    </div>
</header>


{% include "footer.html" %}{% endblock %}